.class-seccion-central-main {
    width: 100%;
    /* height: 350px; */
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8rem;
    flex-wrap: wrap;

    @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .class-form-finalizar-compra {
        border: 1px solid #bdbdbd;
        border-radius: 1rem;
        width: 50rem;
        height: 10rem;
        margin-bottom: 20rem;
        display: flex;
        justify-content: center;

        @include mobile {
            width: 20rem;
            height: 16rem;
            margin-bottom: 0rem;
            align-items: center;

        }

        @include tablet {
            width: 20rem;
            height: 16rem;
            margin-bottom: 0rem;
        }

        .class-container-metodos-de-pago {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;

            @include mobile {
                flex-direction: column;
                font-size: 0.75rem;
            }

            @include tablet {
                flex-direction: column;
                font-size: 0.75rem;

            }

            .class-titulo-forma-de-pagos {
                font-size: 0.8125rem;
            }

            .class-option-pago {
                margin-top: 0.7rem;
            }
        }
    }

    .class-form-abonar-con-debito {
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        width: 50rem;
        height: 20rem;
        margin-top: 3.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 20rem;
        }

        @include tablet {
            width: 20rem;
        }

        .class-container-img-tarjetas-debito {
            display: flex;
            flex-direction: column;
            align-items: center;

            .class-titulo-con-debito {
                text-align: center;
                font-weight: bold;
                font-size: 1rem;

                @include mobile {
                    display: none;
                }

                @include tablet {
                    display: none;
                }
            }

            .class-img-tarjetas-debito {
                width: 60%;

                @include mobile {
                    display: none;
                }

                @include tablet {
                    display: none;
                }
            }
        }

        .class-container-label-debito {
            width: 100%;
            padding-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include mobile {
                justify-content: center;
                align-items: center;
                padding-bottom: 0.5rem;
                width: 50px;
            }

            @include tablet {
                padding-bottom: 0.5rem;
                width: 50px;
                justify-content: center;
                align-items: center;
            }

            .class-labes-debito {
                font-weight: bold;
                text-align: center;
                margin-bottom: 1rem;

                @include mobile {
                    font-size: 10px;
                }

                @include tablet {
                    font-size: 10px;
                }
            }
        }

        .class-container-input-debito {
            height: 500px;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            .class-inputs-debito {
                width: 15rem;
                margin: 0.5rem 0;

                @include mobile {
                    width: 10rem;
                    height: 30px;
                    font-size: 0.6rem;
                }

                @include tablet {
                    width: 10rem;
                    height: 30px;
                    font-size: 0.6rem;
                }
            }

            .class-container-input-nombre-apellido {
                .class-inputs-nombre-apellido {
                    width: 15rem;
                    margin: 0.5rem 0;

                    @include mobile {
                        font-size: 0.6rem;
                        width: 10rem;
                        height: 30px;
                    }

                    @include tablet {
                        font-size: 0.6rem;
                        width: 10rem;
                        height: 30px;
                    }
                }
            }
        }

        .class-container-input-caducidad {
            display: flex;
            justify-content: center;
            gap: 0.5rem;

            .class-inputs-caducidad-uno {
                width: 7.2rem;

                @include mobile {
                    font-size: 0.6rem;
                    width: 5rem;
                    height: 30px;
                }

                @include tablet {
                    font-size: 0.6rem;
                    width: 5rem;
                    height: 30px;
                }
            }

            .class-inputs-caducidad-dos {
                width: 7.2rem;

                @include mobile {
                    font-size: 0.75rem;
                    width: 4.5rem;
                }

                @include tablet {
                    font-size: 0.75rem;
                    width: 4.5rem;
                }
            }
        }

        .class-btn-aceptar-con-debito {
            background-color: #46b4e7;
            color: white;
            text-align: center;
            font-weight: bold;
            box-shadow: 3px 3px 3px;
            border-radius: 7px;
            width: 200px;
            height: 40px;
            margin: 0 20px;

            @include mobile {
                margin: 0 30px;
                font-size: 10px;
                width: 100px;
                height: 30px;
            }

            @include tablet {
                margin: 0 30px;
                font-size: 10px;
                width: 100px;
                height: 30px;
            }
        }
    }





    

    .class-container-seccion-prod {
        @include mobile {
            display: flex;
            align-items: start;
            justify-content: center;
        }

        .class-container-card-links-categorias {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;



            .class-card-links-categoria {
                border: 1px solid #bdbdbd;
                width: 180px;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                @include mobile {
                    width: 150px;
                    height: 250px;
                }

                @include tablet {
                    width: 160px;
                    height: 265px;
                }

                .class-img-producto {
                    width: 110px;

                    @include mobile {
                        width: 50px;
                    }

                    @include tablet {
                        width: 80px;
                    }
                }

                .class-container-detalles-prod {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .items-card-links-categoria {
                        font-size: 12px;

                        @include mobile {
                            font-size: 10px;
                        }

                        @include tablet {
                            font-size: 11px;
                        }
                    }
                }

                .class-btn-agregar {
                    background-color: #46b4e7;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 0.8rem;
                    box-shadow: 2px 2px 2px;
                    border-radius: 7px;
                    width: 80px;
                    height: 30px;

                    @include mobile {
                        font-size: 0.6rem;
                        width: 100px;
                        height: 35px;
                    }

                    @include tablet {
                        font-size: 1rem;
                        width: 110px;
                        height: 35px;
                    }
                }
            }
        }

    }


}


/* Tenes que desarmar la logica de crear cliente y 
ver de reducir codigo aplicando en sass */