.estilos-section-inicio-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
        flex-direction: column;
    }

    .btn-container {
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @include mobile {
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        @include tablet {
            gap: 4rem;
        }

        .titulo-inicio-principal {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            text-decoration: underline;
            text-transform: uppercase;
            margin-bottom: 100px;

            @include mobile {
                font-size: 1rem;
                margin-bottom: 5px;
            }

            @include tablet {
                font-size: 1rem;
                margin-bottom: 5px;
            }
        }

        .class-container-btn-inicio-principal {
            display: flex;
            gap: 3rem;

            @include tablet {
                gap: 2rem;
            }

            .estilos-btn-admin {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                background-color: #ace5ee;
                width: 200px;
                height: 50px;
                border: 1px solid black;
                border-radius: 3px;
                box-shadow: 2px 2px 2px;
                transition-duration: 0.2s;

                &:hover {
                    transform: scale(1.04);
                }

                @include mobile {
                    font-size: 10px;
                    width: 100px;
                    height: 30px;
                }

                @include tablet {
                    font-size: 10px;
                    width: 100px;
                    height: 30px;

                }
            }

            .estilos-btn-cliente {
                background-color: #0ed995;
                text-align: center;
                text-transform: uppercase;

                font-weight: bold;
                border: 1px solid black;
                border-radius: 3px;
                box-shadow: 2px 2px 2px;
                width: 200px;
                height: 50px;
                transition-duration: 0.2s;

                &:hover {
                    transform: scale(1.04);
                }

                @include mobile {
                    font-size: 10px;
                    width: 100px;
                    height: 30px;
                }

                @include tablet {
                    font-size: 10px;
                    width: 100px;
                    height: 30px;
                    margin: 0 10px;
                }
            }

            .class-btn-crear-cuenta-cliente {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                background-color: #bb40bf;
                width: 200px;
                height: 50px;
                border: 1px solid black;
                border-radius: 3px;
                box-shadow: 2px 2px 2px;

                transition-duration: 0.2s;

                &:hover {
                    transform: scale(1.04);
                }

                @include mobile {
                    font-size: 10px;
                    width: 100px;
                    height: 30px;
                }

                @include tablet {
                    font-size: 10px;
                    width: 100px;
                    height: 30px;
                    margin: 0 10px;
                }
            }
        }

    }

    .form-login-admin-estilos {
        border: 1px solid black;
        border-radius: 7px;
        width: 600px;
        height: 400px;
        margin: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mobile {
            width: 300px;
            height: 400px;
        }

        @include tablet {
            width: 400px;
            height: 400px;
        }

        .titulo-login-admin {
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 5px;
            margin-bottom: 50px;
            font-size: 1rem;

            @include mobile {
                font-size: 0.7rem;
            }

            @include tablet {
                font-size: 0.7rem;
            }
        }

        .input-admin-usuario {
            text-align: center;
            width: 350px;
            height: 40px;
            border: 1px solid gray;
            border-radius: 3px;
            margin-bottom: 15px;

            @include mobile {
                width: 15rem;
                height: 2.2rem;
                font-size: 0.6rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }

        .input-contrasena {
            text-align: center;
            width: 350px;
            height: 40px;
            border: 1px solid gray;
            border-radius: 3px;

            @include mobile {
                width: 15rem;
                height: 2.2rem;
                font-size: 0.6rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }

        .btn-login-admin {
            background-color: #51d1f6;
            color: white;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            text-transform: uppercase;
            border: 1px solid black;
            border-radius: 3px;
            box-shadow: 2px 2px 2px;
            width: 350px;
            height: 40px;
            margin-bottom: 30px;
            margin-top: 30px;
            transition-duration: 0.2s;

            &:hover {
                transform: scale(1.04);
            }

            @include mobile {
                font-size: 10px;
                width: 15rem;
                height: 2.2rem;

            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }

        .btn-cancel-admin {
            text-transform: uppercase;
            color: white;
            background-color: #da3a0b;
            text-align: center;
            font-weight: bold;
            letter-spacing: 3px;
            border: 1px solid black;
            border-radius: 3px;
            box-shadow: 2px 2px 2px;
            width: 350px;
            height: 40px;
            margin-bottom: 10px;
            transition-duration: 0.2s;

            &:hover {
                transform: scale(1.04);
            }

            @include mobile {
                font-size: 10px;
                width: 15rem;
                height: 2.2rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }
    }

    //**///
    .class-form-login-cliente {
        border: 1px solid black;
        border-radius: 7px;
        width: 600px;
        height: 400px;
        margin: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include mobile {
            width: 300px;
            height: 400px;
        }

        @include tablet {
            width: 400px;
            height: 400px;
        }
        .class-input-cliente-login {
            text-align: center;
            width: 350px;
            height: 40px;
            border: 1px solid gray;
            border-radius: 3px;
            margin-bottom: 15px;
            @include mobile {
                width: 15rem;
                height: 2.2rem;
                font-size: 0.6rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }

        .class-btn-login-cliente {
            background-color: #51d1f6;
            color: white;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            text-transform: uppercase;
            border: 1px solid black;
            border-radius: 3px;
            box-shadow: 2px 2px 2px;
            width: 350px;
            height: 40px;
            margin-bottom: 30px;
            margin-top: 30px;
            @include mobile {
                width: 15rem;
                height: 2.2rem;
                font-size: 0.6rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }

        .class-btn-login-cancel {
            text-transform: uppercase;
            color: white;
            background-color: #da3a0b;
            text-align: center;
            font-weight: bold;
            letter-spacing: 3px;
            border: 1px solid black;
            border-radius: 3px;
            box-shadow: 2px 2px 2px;
            width: 350px;
            height: 40px;
            margin-bottom: 15px;
            @include mobile {
                width: 15rem;
                height: 2.2rem;
                font-size: 0.6rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }
    }

    /**/
    .class-form-crear-usuario {
        margin: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titulo-registro-uno {
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
            font-size: 1.5rem;
            margin-bottom: 5rem;
            @include mobile {
                font-size: 1rem;
            }

            @include tablet {
                font-size: 1rem;
            }
        }

        .subtitulo-mis-datos {
            text-align: center;
            text-decoration: underline;
            font-size: 1rem;
            margin-bottom: 2rem;
            @include mobile {
                font-size: 1rem;
            }

            @include tablet {
                font-size: 1rem;
            }
        }

        .subtitulo-identificacion {
            text-align: center;
            text-decoration: underline;
            font-size: 1rem;
            margin-bottom: 2rem;
            @include mobile {
                font-size: 1rem;
            }

            @include tablet {
                font-size: 1rem;
            }
        }

        .class-input-mis-datos {
            text-align: center;
            width: 350px;
            height: 40px;
            border: 1px solid gray;
            border-radius: 3px;
            margin-bottom: 15px;
            @include mobile {
                width: 15rem;
                height: 2.2rem;
                font-size: 0.6rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }

        .class-btn-crear-mi-cuenta {
            text-transform: uppercase;
            color: white;
            background-color: #8a6575;
            text-align: center;
            font-weight: bold;
            letter-spacing: 3px;
            border: 1px solid black;
            border-radius: 3px;
            box-shadow: 2px 2px 2px;
            width: 350px;
            height: 40px;
            margin-bottom: 15px;
            @include mobile {
                font-size: 10px;
                width: 15rem;
                height: 2.2rem;
            }

            @include tablet {
                width: 20rem;
                height: 3rem;
                font-size: 0.6rem;
            }
        }
    }
}